<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />

<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <head th:replace="common/header :: navbar" />
    <div class="container">
        <div class="row main">
            <div class="col-md-6">
                <h2 class="title">Change Login Password</h2>
                <hr/>
                <div class="bg-danger" th:if="${param.error}">Invalid password.</div>

                <form method="post" th:action="@{/user/changeTransactionPassword}">
                    <input type="hidden" name="id" th:value="${user.userId}" />

                       <div class="form-group">
                    <label for="firstName">User Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" th:value="${user.username}" id="username"
                                   name="username" roleId="username" placeholder="Enter your user name" 
                                   required="required"/>
                        </div>
                    </div>
                </div>

                   <!--  <div class="form-group">
                        <label for="transactionPassword" class="cols-sm-2 control-label">Old Transaction Password</label>
                        <span class="bg-danger pull-right" th:if="${passwordExists}">Username already exists</span>                        <div class="cols-sm-10">-->
                          <!--   <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" th:value="${user.password}" id="password" name="password" roleId="password" placeholder="Enter your Old Password"
                                    required="required" />
                            </div>
                        </div> -->

                        <div class="form-group">
                        <label for="oldtransactionpassword" class="cols-sm-2 control-label">Old Transaction Password</label>
                        <!--<span class="bg-danger pull-right" th:if="${passwordExists}">Username already exists</span>                        <div class="cols-sm-10">-->
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" id="oldtransactionpassword" name="oldtransactionpassword" roleId="oldtransactionpassword" placeholder="Enter your Old Transaction Password"
                                    required="required" />
                            </div>
                        </div>
                         

                           <div class="form-group">
                        <label for="newtransactionpassword" class="cols-sm-2 control-label">New Transaction Password</label>
                        <!--<span class="bg-danger pull-right" th:if="${passwordExists}">Username already exists</span>                        <div class="cols-sm-10">-->
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" id="newtransactionpassword" name="newtransactionpassword" roleId="newtransactionpassword" placeholder="Enter your New  Transaction Password"
                                    required="required" />
                            </div>
                        </div>
                    
                        <div class="form-group">
                        <label for="retypetransactionpassword" class="cols-sm-2 control-label"> Retype New Transaction Password</label>
                        <!--<span class="bg-danger pull-right" th:if="${passwordExists}">Username already exists</span>                        <div class="cols-sm-10">-->
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" id="retypetransactionpassword" name="retypetransactionpassword" roleId="retypetransactionpassword" placeholder="Re-enter your New Transaction Password"
                                    required="required" />
                            </div>
                        </div>

                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-block ">Change Settings
                        </button>
                    </div>

                </form>
            </div>
        </div>
        </div>
    


    <div th:replace="common/header :: body-bottom-scripts" />

</body>

</html>